@media only screen and (min-width: 38rem) {
    #navLinks, #navLinks.open {
        display: flex;
    }

    #spacer, #spacer.open, #menuButton {
        display: none;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        display: flex;
        margin: auto;
        width: 25%;
        justify-content: center;
    }

    nav a {
        width: 100%;
    }

    nav li:first-child {
        padding-top: 0%;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #discover-main{
        grid-template-columns: 300px 1fr; 
        grid-column-gap: 1rem;
    }

    #sidebar {
        grid-column: 0 / 1;
        grid-row: 1 / 2;
    }

    #picture-showcase {
        grid-column: 2 / 3;
    }

    #sidebar div{
        display: block;
        width: 90%;
        border: 2px solid black;
        margin: 1rem 1rem;
    }

    #picture-showcase img:hover{
        box-shadow: 5px 6px 50px var(--background-night);
    }

    #hero {
        grid-column: span 2;
        position: relative;
    }

    #callToAction {
        position: absolute;
    }

    #callToAction button {
        position: absolute;
        top: 80px;
    }

    #weather {
        grid-row: span 2;
    }
}