:root {
    --banner-color: rgb(85, 107, 47);
    --nav-color: rgb(210, 105, 30);
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header{
    background-color: var(--banner-color);
    color: white;
    display: flex;
    justify-items: center;
    height: 125px;
}

header img {
    margin: auto 25px;
}

header span {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    margin-left: -2rem;
}

#hero {
    position: relative;
}

#hero-img {
    object-fit: cover;
    width: 100%;
}

#hero-label{
    position: absolute;
    top: 30px;
    left: 30px;
}

#darkMode {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#darkMode::before {
    content: '🌙';
}

#darkMode.dark::before {
    content: '☀️';
}

h1 {
    grid-column: span 2;
    text-align: center;
}

main.dark {
    background-color: black;
    color: white;
}

main.dark a {
    color: lightblue;
}

main.dark a:visited {
    color: lightpink;
}

main.dark input[type="range"] {
    color: white;
}

#feedback {
    margin: -1rem 2rem 1rem 2rem;
    padding-bottom: .1rem;
}

#menuButton {
    position: absolute;
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    top: 0.2rem;
    right: 0.2rem;
    cursor: pointer;
}

#menuButton::before {
    content: "☰";
    color: black;
    font-weight: bold;
    margin-right: .5rem;
}

#menuButton.open::before {
    content: "❌";
    margin-right: 0.2rem;
}

nav {
    background-color: var(--nav-color);
    font-weight: bold;
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    width: 100%;
}

nav a {
    display: block;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.30);
}

nav .active {
    background-color: rgba(0, 0, 0, 0.2);
}

nav li:first-child {
    padding-top: 2rem;
}

nav .active a{
    color: white;
}

#navLinks {
    display: none;
    list-style-type: none;
}

#navLinks.open {
    display: block;
}

#spacer {
    display: flex;
    background-color: var(--nav-color);
    height: 2rem;
    width: 100%;
    margin-top: -2rem;
}

#spacer.open {
    margin-top: 0rem;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.card section {
    text-align: center;
    padding: .5em;
    margin: 1rem 0;
}

.card h2 {
    background-color: var(--banner-color);
    color: tan;
    text-align: center;
    padding: .2em;
}

.card ul {
    padding: .5em;
    list-style-type: none;
}

.card span {
    display: block;
    padding: .5em;
    text-align: center;
    width: 100%;
}

#location {
    width: 100%;
    padding: .5rem;
}


input {
    display: block;
    border: 1px solid darkolivegreen;
    border-radius: 6px;
    padding: .5rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 300px;
}

fieldset {
    margin: 2rem 1rem;
    padding: 10px;
    border-radius: 6px;
}

#personalInfo > label {
    color: #d80000;
}


form input:required {
    border-right: 8px solid red;
}


input:required:valid {
    border-right: solid 8px #76ac08;
}

#rangevalue {
    font-size: 1.5rem;
    margin-top: .5rem;
}

main.dark form input[type="range"] {
    color: white;
}

input[type="submit"] {
    margin-left: 1.5rem;
    width: 80%;
    max-width: 300px;
    background-image: linear-gradient(rgb(110, 146, 47), var(--banner-color));
    box-shadow: 2px 2px rgba(128, 128, 128, 0.5);
    transition: box-shadow 0.3s ease-in-out, background-image 0.7s ease-in-out;
}

input[type="submit"]:hover {
    box-shadow: 7px 7px rgba(128, 128, 128, 0.5);
    background-image: radial-gradient(rgb(110, 146, 47), var(--banner-color));
}

#thankYou {
    width: 100%;
    margin: auto;
    text-align: center;
    justify-items: center;
    padding-top: 20vw;
    height: 70vh;
}

footer {
    display: block;
    text-align: center;

}

p {
    background-color: var(--banner-color);
    color: white;
    padding: 05px;
}

#lastModified{
    color:yellow;
}