@media only screen and (min-width: 38rem) {
    header span{
        font-size: 5rem;
        font-weight: bold;
    }

    
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 5px;
    }

    .card {
        box-shadow: 1px 1px 10px black;
    }

    .card section {
        display: flex;
        flex-direction: column;
        grid-column: span 1;
        margin: auto;
    }
}