@media only screen and (min-width: 38rem) {
    header span{
        font-size: 5rem;
        font-weight: bold;
    }

    
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav li:first-child {
        padding-top: 0;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 5px;
    }
    
    #spacer, #spacer.open {
        margin-top: -2rem;
    }

    #hero {
        grid-column: span 2;
        margin: 0;
        width: 100vw;
        height: auto;
        overflow: hidden;
    }

    #hero-img {
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    .card {
        box-shadow: 1px 1px 10px black;
    }

    .card section {
        display: flex;
        flex-direction: column;
        grid-column: span 1;
        margin: auto;
    }



    #location {
        grid-column: span 2;
        width: 100vw;
    }

    #menuButton{
        display: none;
    }

    #navLinks, #navLinks.open {
        display: flex;
    }

    form {
        grid-column: span 2;
        width: 100%;
        max-width: 80%;
        margin: auto;
    }

    input, label, #rangevalue {
        margin-left: 2rem;
    }

    input[type="submit"] {
        margin-left: 3.5rem;
    }

    #thankYou {
        grid-column: span 2;
    }
}